venv
.env*
.env
**/.pycache
**/__pycache__
**/.terraform.lock.hcl
**/.terraform/*
*.tfstate
*.tfstate.*
dependencies/
packages/extract*
packages/load*
packages/transform*
.pgpass
.DS.Store
address**
payments**
.coverage
*.pytest_cache
last_updated.txt
tests/data/**.txt
tests/data/**.json
**.parquet
*.txt
!requirements*.txt
layer/