venv
.env*
.env
**/.pycache
**/__pycache__
**/.terraform.lock.hcl
**/.terraform/*
*.tfstate
*.tfstate.*
dependencies/
packages/
.pgpass
.DS.Store
address**
payments**
.coverage
*.pytest_cache
last_updated.txt
*.zip
tests/data/**.txt
tests/data/**.json
**.parquet

packages/
dependencies_extract
dependencies_forex_parquet
dependencies_pandas
*.txt
!requirements*.txt

dependencies*/

