venv
.env*
.env
**/.pycache
**/__pycache__
**/.terraform.lock.hcl
**/.terraform/*
*.tfstate
*.tfstate.*
**/*.txt
.pgpass
.DS.Store
address**
payments**
.coverage
*.pytest_cache
last_updated.txt
*.zip
tests/data/**
tests/data